<!doctype html>
<html lang="en" ng-app>
  <head>
    <title>Chat Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
    <style type="text/css">
      body 
      {
        padding-top: 60px;
      }
  
      #popupbox
      {
        margin: 0; 
        margin-left: 10%; 
        margin-right: 70%;
        margin-top: 70px; 
        padding-top: 10px; 
        width: 20%; 
        height: 170px; 
        position: absolute; 
        background: #FFFFFF; 
        border: solid #909090 2px; 
        z-index: 9; 
        font-family: arial; 
        visibility: hidden; 
      }
      #searchP
      {
        margin: 0; 
        margin-left: 10%; 
        margin-right: 70%;
        margin-top: 70px; 
        padding-top: 10px; 
        width: 40%; 
        height: 520px; 
        position: absolute; 
        background: #FFFFFF; 
        border: solid #909090 2px; 
        z-index: 9; 
        font-family: arial; 
        visibility: hidden; 
      }
      #border
      {
          border: 1px solid gray;
      }
     
      .resizable 
      {
          overflow-y: scroll;
          /*resize: both;*/
          /*/max-width: 500px;*/
          max-height: 400px;
      }
      .scrolltable
      {
        overflow-y: scroll;
        width: 900px;
        height: 700px;
      }
    </style>
    <script language="JavaScript" type="text/javascript">
    
      function login(showhide)
      {
        if(showhide == "show")
        {
          document.getElementById('popupbox').style.visibility="visible";
        }
        else if(showhide == "hide")
        {
          document.getElementById('popupbox').style.visibility="hidden"; 
        }
      }
      
      function showSearchResults(showhide)
      {
        if(showhide == "show")
        {
          document.getElementById('searchP').style.visibility="visible";
        }
        else if(showhide == "hide")
        {
          document.getElementById('searchP').style.visibility="hidden";
        }
      }
      function isInArray(value, array)
      {
        return array.indexOf(value) > -1;
      }
      function ChatController($scope) 
      {
        var socket = io.connect('https://' + document.domain + ':' + location.port + '/chat');
    
    
        $scope.messages = [];
        $scope.roster = [];
        $scope.results = [];
        $scope.name = '';
        $scope.text = '';
        $scope.term = '';
        
        
        
        
        $scope.box = document.getElementById('messageTable');
        $scope.connected = false;
    
       
       
       
       
        socket.on('connect', function () {
          console.log('connected');
          $scope.setName();
        });
    
        
        socket.on('roster', function (names) {
          console.log("Roster update:" +JSON.stringify(names));
          $scope.roster = names;
          playIt("newUser");
          $scope.$apply();
        });
        
        socket.on('showResults', function(searchResult) {
          console.log("Displaying search results: " +JSON.stringify(searchResult));
          $scope.results.push(searchResult);
          $scope.$apply();
          showSearchResults('show');
        });
        
        socket.on('message', function (msg) {
          console.log(msg);
          $scope.messages.push(msg);
          $scope.$apply();
          $scope.box.scrollTop = $scope.box.scrollHeight;
        });
    
        
    
        $scope.send = function send() {
          console.log('Sending message:', $scope.text);
          socket.emit('message', $scope.text);
          $scope.text = '';
        };
    
        $scope.setName = function setName() {
          socket.emit('identify', $scope.name);
        };
        $scope.setName2 = function setName2() {
          
          socket.emit('identify', $scope.name2);
          $scope.name = $scope.name2;
          $scope.$apply();
        };
    
        $scope.processLogin = function processLogin() {
          console.log("Trying to log in");
          socket.emit('login', $scope.password);
        };
        
        $scope.closeResults = function closeResults() {
          console.log("Closing Results");
          $scope.results = [];
          showSearchResults('hide');
        }
        socket.on('checkLogin', function() {
          if (isInArray($scope.name, $scope.roster))
          {
            login('hide');
            $scope.connected = true;
            document.getElementById('swapSelectSearch').readOnly = false;
            document.getElementById('swapSelectMessage').readOnly = false;
          }
          else
          {
            login('show');
            $scope.connected = false;
            document.getElementById('swapSelectSearch').readOnly = true;
            document.getElementById('swapSelectMessage').readOnly = true;
          }
        });
        
        $scope.search = function search(term) {
          console.log("attempting search");
          $scope.term = term;
          showSearchResults('show');
          socket.emit('search', $scope.term);      
        }
      }
    </script>
  </head>

  <body onload="javascript:login('show')">
  
    <div class="container" ng-controller="ChatController">
        
      <div id="popupbox"> 
      
      
      
    
        <form ng-submit="processLogin()">
          <center>Username:</center>
          <center><input type="text" ng-model="name2" ng-change="setName2()" placeholder="Username"/></center>
          <center>Password:</center>
          <center><input ng-model="password" type="password"/></center>
          <center><input type="submit" class="span1 btn btn-primary" value="Send" ng-disabled="!password"></center>
        </form> <br />
      </div> 
  
  
  
  
  
  
      <div id="searchP">
        <form ng-submit="closeResults()">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th class="span2">Name</th>
                <th class="span7">Text</th>
              </tr>
            </thead>
          </table>
          <div id="border" class="resizable">
            <table border="1" class="table table-striped table-bordered">
              <tbody>
                <tr ng-repeat="result in results">
                  <td class="span2" ng-bind="result.name"></td>
                  <td class="span7" ng-bind="result.text"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <br />
          <input type="submit" class="span1 btn btn-primary" value="Close">
        </form> <br />
      </div>
      
  
      <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
          <div class="pull-right">
            <a href="https://c9.io" class="brand">Cloud9 IDE</a>
          </div>
        </div>
      </div>
      <div class="page-header">

        <h1>Chat Example</h1>
      </div>
      <div class="row">
        <div class="span3">
          <ul class="nav nav-list well">
            <li class="nav-header">Local Users</li>
            <li ng-repeat="user in roster" ng-bind="user">
            </li>
          </ul>
          <form ng-submit="search(term)">
            <h3>Search</h3>
            <div class="input-append">
              <input id="swapSelectSearch" ng-model="term" type="text" readonly="readonly" placeholder="Search term...">
              <input type="submit" class="span btn btn-primary" value="Enter" ng-disabled="!term">
            </div>
          </form>
        </div>
         <div class="span9">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th class="span2">Name</th>
                <th class="span7">Text</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="msg in messages">
                <td class="span2" ng-bind="msg.name"></td>
                <td class="span7" ng-bind="msg.text"></td>
              </tr>
            </tbody>
          </table>
          <div class="row controls">
            <form ng-submit="send()">
              <div class="span2" ><input type="text" class="input-block-level" ng-model="name" readonly="readonly" placeholder="Your Name"></div>
              <div class="input-append span7">
                <input type="text" class="span6" ng-model="text" placeholder="Message">
                <input type="submit" class="span1 btn btn-primary" value="Send" ng-disabled="!text">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angular.min.js"></script>
    
  </body>
</html>